:root {
    --main-yellow: #FFB400;
    --font-family: 'Open Sans', sans-serif;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
}

.image-wrapper:hover {
    transform: scale(1.03);
}

.image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.image:hover {
    border: 1px solid var(--main-yellow);
}

.title {
    font-family: var(--font-family), sans-serif;
    text-align: center;
    background-color: var(--main-yellow);
    padding: 10px 0 10px 0;
}

@media (max-width: 1000px) {
    .title {
        font-size: clamp(1.2rem, 5vw, 1.8rem);
        bottom: 1vh;
    }
}
