.filter-container {
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFB400;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-dropdown {
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.filter-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding-left: 10px;
}

.chosen-filter {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.filter-list {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0 0;
    background: #FFB400;
    /*border-radius: 0.5rem;*/
    overflow: hidden;
}

.filter-list-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}
