.galleryPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(5, 407px);
    gap: 2rem;
    padding: 2rem 0;
    justify-content: start;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.item {
    border: #AEA9A9 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.edit-button {
    align-self: center;
    background: #FFB400;
    border-radius: 0;
    border: none;
    width: 4rem;
    height: 1.5rem;
    cursor: pointer;
}

@media (max-width: 2163px) {
    .item-list {
        grid-template-columns: repeat(4, 407px);
    }
}

@media (max-width: 1724px) {
    .item-list {
        grid-template-columns: repeat(3, 407px);
    }
}

/* 2 columns (max: 846px wide) */
@media (max-width: 1285px) {
    .item-list {
        grid-template-columns: repeat(2, 407px);
    }
}

/* 1 column (407px wide) */
@media (max-width: 846px) {
    .item-list {
        grid-template-columns: repeat(1, 407px);
    }
}



